@import '@fortawesome/fontawesome-free/css/all.min.css';

.pre-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
  background-color: aliceblue;
}

.header-container {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;

  display: flex;
  align-items: center;
}

.pre-video h1 {
  background: linear-gradient(to right, cyan, darkblue, cyan);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2.75rem;
  margin: 0;
}

.logo {
  width: 75px;
  height: auto;
  margin-right: 10px;
}

.file-drop-area {
  width: 45%;
  height: 30%;
  border: 3px dashed #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-bottom: 1rem;
  position: relative;
  cursor: pointer;
}

.file-drop-area p {
  font-size: 18px;
  color: #666;
}

.file-drop-area input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  width: 20%;
  transform: translateY(-70px);
}

.file-clear, .file-upload {
  background-color: cornflowerblue;
  color: white;
  padding: 5px 15px; 
  font-size: 18px; 
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.5s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.file-clear:hover {
  background-color: darkred;
}
.file-upload:hover {
  background-color: darkgreen;
}

.youtube-input {
  width: 45%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 25px;
}

.youtube-input::placeholder {
  font-size: 16px;
  color: #999;
}
