.embedded-video {
  display: flex;
  flex-direction: column;
}

.embedded-video iframe, .embedded-video video {
  height: 45vh;
  width: 45vw;
  /* border: none; */
}

.video-transcript {
  background-color: aliceblue;
  overflow-y: scroll;

  border: 2px solid lightgray;
  border-radius: 10px;
  
  padding: 0 25px;
  margin: 20px;

  height: 45vh;
  width: 43vw;
}

.subtitles {
  text-align: start;
}

.subtitle-text {
  cursor: pointer;
  display: inline-block;
  margin: 2px;
  padding: 2px 3px;
  transition: transform 0.2s ease, border-color 0.2s ease;
}

.subtitle-text:hover {
  border: 1px solid #0078D7;
  transform: scale(1.05);
  margin: 0 5px;
  border-radius: 5px;
  background-color: rgba(115, 191, 238, 0.689); /* Light blue background on hover */
}